
<uib-accordion close-others="false">
    <div uib-accordion-group class="panel-default" ng-init="status = {open: true}" is-open="status.open" style="background-color:#FFFFFF;" >

        <uib-accordion-heading>
            Extensions Online
            <i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>

        </uib-accordion-heading>

        <div class="row-fluid">

            <div class="row">

              <div class="col-lg-3 ">
                  <div class="well" style="height:100%;">

                      <h3><i class="fa fa-link" aria-hidden="true"></i> &nbsp; Chain Viewer </h3>

                      <div class="text-justify">
                        Built in block and peer explorer. A useful extension to prove transactions, blocks and current peer status.
                        The base for upcoming service locator and several distributed services open or closed announced by the peer service layer.
                      </div>
                      <br>

                      <span class="label label-success"> Online </span>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="well" style="height:100%;">
                      <h3><i class="fa fa-signal" aria-hidden="true"></i>&nbsp; MaCap Viewer </h3>
                      <div class="text-justify">
                        Keep updated with global cryptocurrency ranking by this small but useful tool. MaCap (Market Capitalization) displays the current
                        value, volume, ranking, changes and additional useful data for the top cryptocurrencies. This is a free community service.
                      </div>
                      <br>
                      <span class="label label-success"> Online </span>
                  </div>
              </div>

              <div class="col-lg-3 ">

              </div>

              <div class="col-lg-3  ">

              </div>

            </div>


        </div>

    </div>
  </uib-accordion>

<uib-accordion close-others="false">
    <div uib-accordion-group class="panel-default" ng-init="status = {open: true}" is-open="status.open" style="background-color:#FFFFFF;" >

        <uib-accordion-heading>
            Extensions in Development
            <i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>

        </uib-accordion-heading>

        <div class="row-fluid">

            <div class="row">

              <div class="col-lg-3 ">
                  <div class="well" style="height:100%;">
                      <h3><i class="fa fa-newspaper-o" aria-hidden="true"></i> &nbsp; News Center</h3>

                      <div class="text-justify">
                          Latest news from DAO and everything around including new projects, developments, important community
                          votes and upcoming proposals. Managed by the Infinity Foundation, this channel is used to keep you updated.
                          This is a free community service.

                      </div>
                      <br>
                      <span class="label label-warning"> In Development </span>

                  </div>
              </div>

              <div class="col-lg-3  ">
                  <div class="well" style="height:100%;">
                      <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp; Message Center </h3>
                      <div class="text-justify">
                          This is your free, private encrypted message center. While blockchain related messages require a service fee,
                          this one doesn’t. You can use this message center to share confidential informations but without using the
                          blockchain. This is a free community service.
                      </div>
                      <br>
                      <span class="label label-warning"> In Development </span>
                  </div>
              </div>

              <div class="col-lg-3 ">
                  <div class="well" style="height:100%;">
                      <h3><i class="fa fa-btc" aria-hidden="true"></i> &nbsp; OTC Market </h3>
                      <div class="text-justify">
                      A free OTC (Over The Counter) marketplace to buy/sell tokens. This free OTC market works similar to localbitcoins.com,
                      where members can post, organize offers and settle the transaction independently without any registrations or KYC.
                      This is a free community service.

                      </div>
                      <br>
                      <span class="label label-warning"> In Development </span>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="well" style="height:100%;">
                      <h3><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp; Market Data </h3>
                      <div class="text-justify">
                          Market data provides you with the latest data on cryptocurrencies and provide access to all major exchanges.
                          Market data covers all important cryptocurrencies and is the base for an upcoming commercial version.
                          This is a free community service.
                      </div>
                      <br>
                      <span class="label label-warning"> In Development </span>
                  </div>
              </div>

            </div>

        </div>

    </div>
  </uib-accordion>

<uib-accordion close-others="false">
      <div uib-accordion-group class="panel-default" ng-init="status = {open: false}" is-open="status.close" style="background-color:#FFFFFF;" >

          <uib-accordion-heading>
              Extensions in Concept Stage
              <i class="pull-right fa" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>

          </uib-accordion-heading>

          <div class="row-fluid">

              <div class="row">

                <div class="col-lg-3">
                    <div class="well" style="height:100%;">
                        <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; Digital Goods Store </h3>
                        <div class="text-justify">
                            A community based free and open marketplace to offer digital goods like software, music, movies or
                            other digital services. Users can search in categories and order goods (download) directly within this wallet.
                            This is a free community service.
                        </div>
                        <br>
                        <span class="label label-info"> Concept Stage </span>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="well" style="height:100%;">
                        <h3><i class="fa fa-user" aria-hidden="true"></i>&nbsp; Service Marketplace </h3>
                        <div class="text-justify">
                          A Services Marketplace where users can launch self-service requests for various services directly from other users.
                          Find talent for all your needs and outsource time consuming tasks to turn their ideas into reality.
                        </div>
                        <br>
                        <span class="label label-info"> Concept Stage </span>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="well" style="height:100%;">
                        <h3><i class="fa fa-id-card" aria-hidden="true"></i>&nbsp; Business Directory </h3>
                        <div class="text-justify">
                        Easily locate the right business for your needs. Similar to Yellow-Pages, this extension can be used for new and existing
                        business announcements. The basic entry is free of charge but an extended entry based on XIN tokens will be added soon.
                        </div>
                        <br>
                        <span class="label label-info"> Concept Stage </span>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="well" style="height:100%;">
                        <h3> <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; Events </h3>
                        <div class="text-justify">
                          Need to announce an important event to the community? Just use this event listing service and add all details needed
                          to make your event successful and known by your planned audience. This is a free community service.

                        </div>
                        <br>
                        <span class="label label-info"> Concept Stage </span>
                    </div>
                </div>


              </div>

              <div class="row">

                <div class="col-lg-3">
                    <div class="well" style="height:100%;">
                        <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Secure Contacts </h3>
                        <div class="text-justify">
                          A secured and encrypted contact manager. Connect your wallet to your most important contacts, off-chain or even on-chain like
                          accounts, mail, phone or additional information. All data is fully encrypted with your keys and decrypted on the fly within your wallet.
                        </div>
                        <br>
                        <span class="label label-info"> Concept Stage </span>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="well" style="height:100%;">
                        <h3> <i class="fa fa-file-archive-o" aria-hidden="true"></i> &nbsp; Distributed Storage </h3>
                        <div class="text-justify">
                          Based on the open source IPFS protocol, this service is used to store and retrieve files on the Infinity network.
                          Storage is provided by nodes and increasing by time and number of nodes joining the network.
                        </div>
                        <br>
                        <span class="label label-info"> Concept Stage </span>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="well" style="height:100%;">
                        <h3><i class="fa fa-reorder" aria-hidden="true"></i>&nbsp; Distributed Hosting </h3>

                        <div class="text-justify">
                          Based on open source ZeroNet this service is used to host websites on the Infinity network.
                          Like distributed storage, webspace is provided by nodes and increasing by time and number of nodes joining the network.
                        </div>
                        <br>
                        <span class="label label-info"> Concept Stage </span>


                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="well" style="height:100%;">
                        <h3> <i class="fa fa-bullseye" aria-hidden="true"></i>&nbsp; Rating Agency </h3>
                        <div class="text-justify">

                          It is not easy to identify promising assets and other projects on the Infinity platform.
                          This new crypto rating agency will help you to get a better overview to get the most for your
                          ventures in assets, currencies, or even external crypto projects on Infinity and other platforms.

                        </div>
                        <br>
                        <span class="label label-default"> Proof of Concept </span>
                    </div>
                </div>




              </div>

              <div class="row">

               <div class="col-lg-3">
                   <div class="well" style="height:100%;">
                       <h3><i class="fa fa-barcode" aria-hidden="true"></i>&nbsp; Digital Notary </h3>
                       <div class="text-justify">
                        Want to prove something happened at a particular point in time? Infinity Notary service is based on Proof of Existence.
                        By submitting hashes of documents you can prove on a later date that you were privileged to certain information at a
                        point in history. Demonstrating data ownership without revealing your data.

                       </div>
                       <br>
                       <span class="label label-default"> Proof of Concept </span>
                   </div>
               </div>



               <div class="col-lg-3">
                   <div class="well" style="height:100%;">
                       <h3><i class="fa fa-external-link" aria-hidden="true"></i>&nbsp; Social Lending </h3>

                       <div class="text-justify">
                         The peer-to-peer social lending service connects borrowers and lenders, thereby cutting out the traditional banking protocols. Unlike assets,
                         this service is focused on non-profit projects and also called “crowdlending”. Use this service to announce smaller projects supported by the community.


                       </div>
                       <br>
                       <span class="label label-default"> Proof of Concept </span>


                   </div>
               </div>

               <div class="col-lg-3">
                   <div class="well" style="height:100%;">
                       <h3><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp; Social Trading </h3>
                       <div class="text-justify">
                         Discover the top crypto traders from all over the world, copy their strategy and receive their trades in real time and build your own unique
                         portfolio in just a few clicks. Social trading in combination with automated trading provides you with unique trading opportunities.
                       </div>
                       <br>
                       <span class="label label-default"> Proof of Concept </span>
                   </div>
               </div>

               <div class="col-lg-3">
                   <div class="well" style="height:100%;">
                       <h3><i class="fa fa-calculator" aria-hidden="true"></i>&nbsp; Portfolio Manager </h3>

                       <div class="text-justify">
                        Portfolio Manager helps you make smart and better informed decisions about your investments by keeping you on top of your performance
                        and in touch with the latest news in crypto world. Users can create a real-life portfolio or a watch list of ideas to monitor.
                       </div>
                       <br>
                       <span class="label label-default"> Proof of Concept </span>


                   </div>
               </div>

             </div>

             <div class="row">

              <div class="col-lg-3">
                  <div class="well" style="height:100%;">
                      <h3><i class="fa fa-plane" aria-hidden="true"></i>&nbsp; Automated Trading </h3>
                      <div class="text-justify">
                        Traders and investors can turn precise entry, exit and money management rules into automated trading systems
                        and free you from the stress and difficulty trying todo it yourself.
                        Based on Market Data this service offers new insights into the current crypto market.
                      </div>
                      <br>
                      <span class="label label-default"> Proof of Concept </span>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="well" style="height:100%;">
                      <h3><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp; Reputation System </h3>
                      <div class="text-justify">
                      Digital reputation is rapidly expanding in real-world influence.
                      Reputation systems are essential for peer-to-peer business activities as they allow users to establish a reputation
                      to gain trust with potential clients.
                      </div>
                      <br>
                      <span class="label label-default"> Proof of Concept </span>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="well" style="height:100%;">
                      <h3><i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp; Multigateway </h3>
                      <div class="text-justify">
                         Multigateway is a service developed on top of the Infinity platform that allows you
                         to move crypto-currencies in and out of the integrated Asset Exchange by a one to one
                         peg between an asset and a cryptocoin.
                      </div>
                      <br>
                      <span class="label label-default"> Proof of Concept </span>
                  </div>
              </div>

              <div class="col-lg-3">
                  <div class="well" style="height:100%;">
                      <h3> <i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp; Something Missing? </h3>
                      <div class="text-justify">

                        If so please contact the Infinity Foundation or better create a proposal.

                      </div>
                      <br>

                  </div>
              </div>


            </div>


          </div>

      </div>
    </uib-accordion>


<div class="footer-padding"></div>
