<div class="container-fluid" cg-busy="claimSecretPromise">
    <div class="row-fluid">
        <div class="centering text-left">
          <br>

                <form name="claimSecretForm" ng-submit="onSubmit()">

                  <div class="col-md-12">

                      <div class="ucsb" popover-placement="left" popover-trigger="'mouseenter'" uib-popover="">
                        Transaction Full Hash

                        &nbsp;
                        <i
                          class="fa fa-question-circle-o"
                          aria-hidden="true"
                          style="color:#000000;"
                          popover-placement="left"
                          popover-trigger="'mouseenter'"
                          data-container="body"
                          uib-popover="To claim a secret transaction you have to enter the transaction full hash"
                        ></i>

                      </div>

                      <h4 class="input-group">
                          <input type="text" class="form-control" id="hash"
                                 placeholder="Type in the hash" validator="required"
                                 ng-model="claimSecretForm.fullHash">

                          <span class="input-group-addon" id="addon-amount">HASH</span>
                      </h4>

                  </div>

                  <div class="col-md-12">
                      <hr/>
                  </div>


                  <div class="col-md-12">
                  <div class="ucsb" for="query">
                    Revealed Secret Text

                    &nbsp;
                    <i
                      class="fa fa-question-circle-o"
                      aria-hidden="true"
                      style="color:#000000;"
                      popover-placement="left"
                      popover-trigger="'mouseenter'"
                      data-container="body"
                      uib-popover="Enter the secret from sender to claim your transaction before the transaction expires"
                    ></i>


                  </div>
                  <h5>
                    <div class="input-group">

                      <input type="text" class="form-control" id="query" placeholder="Enter secret text"
                      ng-model="claimSecretForm.secretText" validator="required">

                      <span class="input-group-btn">
                      <button type="submit" ng-disabled="!claimSecretForm.$valid" class="btn btn-success"
                      ng-click="confirmControlledTransaction(claimSecretForm.fullHash, claimSecretForm.secretText)">
                      <i class="fa fa-user-secret" aria-hidden="true"></i>
                      </span>

                    </div>
                  </h5>
                </div>

                <div ng-show="validBytes">

                    <div class="col-md-12">
                        <hr/>
                    </div>

                    <div class="col-md-12">

                      <button type="button" class="btn btn-default" ng-click="signedTx = !signedTx">
                        <i class="fa fa-key" aria-hidden="true"></i> &nbsp; Signed Transaction

                      </button>

                      <button ng-disabled="!validBytes" type="button" class="btn btn-infinity pull-right"
                              ng-click="broadcastTransaction(transactionBytes)"> <i class="fa fa-check" aria-hidden="true"></i>
                      </button>

                      <br><br>
                      <div uib-collapse="!signedTx" class="collapse" aria-expanded="false" aria-hidden="true"
                           style="height: 0px;">
                          <div class="well well-lg dont-break-out">
                              {{transactionBytes}}
                          </div>
                      </div>

                    </div>

                </div>

                </form>

        </div>
    </div>
</div>
