<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-center">

            <div class="col-md-12">
                <img src="images/logo.png" alt="" width="250" style="margin-top 50px; margin-bottom:50px;">
            </div>

            <div class="col-md-12">
                <div class="panel panel-default centering" id="welcome" style="max-width: 400px;">

                    <div class="panel-heading">


                        <label> Log Out</label>


                    </div>

                    <div class="panel-body text-center">

                        Succesfull logged out.<br>

                        Session data cleared: Yes <br>
                        Local storage data cleared: No


                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
