

<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-center">

            <div class="col-md-12">
                <img src="images/logo.png" alt="" width="250" style="margin-top 50px; margin-bottom:50px;">
            </div>

            <div class="col-md-12" ng-init="postLogOut()">
                <div class="panel panel-default centering" id="welcome" style="max-width: 400px;">

                    <div class="panel-heading">

                      <i class="fa fa-sign-out" aria-hidden="true"></i>
                        &nbsp; <label> Signed Out</label>


                    </div>

                    <div class="panel-body text-center">

                        Succesfull signed out.<br><br>

                        Session data cleared: {{sessionCleared}} <br>
                        Local storage data cleared: {{localCleared}}

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
