
<style>
  .modal .modal-dialog { max-width: 800px; }
</style>

 <multi-step-container steps="steps" class="simple-prev-next">

    <div class="modal-header modal-default text-center">

        <div class="pull-left">  <img src="images/logo_modal.png" style="margin-left:10px;margin-top:5px;height:50px;">  </div>

        <h3> <span ng-bind-template=" {{$getActiveStep().title}} "></span> </h3>

    </div>

    <div class="modal-body">

        <div class="centering text-center">

            <step-container></step-container>

        </div>

    </div>

    <div class="modal-footer">

      <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()" id="closeModal"> <i class="fa fa-chevron-left" aria-hidden="true"></i> </button>
      <button ng-disabled="$isLast()" class="btn btn-infinity" ng-click="$nextStep()"> <i class="fa fa-chevron-right" aria-hidden="true"></i> </button>
      <button ng-disabled="" class="btn btn-default pull-left" ng-click="cancel()"> <i class="fa fa-times" aria-hidden="true"></i> </button>

    </div>

</multi-step-container>
