<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-center">
        <div class="col-md-12">
          <img src="images/logo.png" alt="" width="250"  style="margin-top: 50px; margin-bottom:50px;">
        </div>
        <div class="col-md-12">
            <div class="panel panel-default centering" id="welcome" style="max-width: 425px;">

              <div class="panel-heading" style="height:55px;">

                <div class="row">
                <div class="col-md-6">

                  <h4> <i class="fa fa-lock" aria-hidden="true"></i>  &nbsp; Welcome to Infinity </h4>

                </div>

                <div class="col-md-6">
                  <select name="language" class="form-control  pull-right" style="width:150px;;">
                     <option value="en">English</option>
                  </select>

                </div>
              </div>

              </div>

              <div class="panel-body" >

                 <a class="btn btn-infinity pull-right" style="width:150px;" href="#/login">MY ACCOUNT</a> &nbsp;&nbsp;
                 <a class="btn btn-default pull-left"  style="width:150px;" ng-click="openSignUpModal()"> NEW ACCOUNT </a>

              </div>

            </div>
        </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-center">
          <div class="col-md-12">
          <small>  <small> Chrome v49+ | IE v11+ | Firefox v50+ | Opera v42+ | Android v4.4+ | Chrome for Android v55+ </small> </small>
          </div>
          <img src="images/angularjs.svg" class="grayscale" alt="" width="15"  style="margin-top: 10px; margin-bottom:5px;">
          <img src="images/bootstrap.svg" class="grayscale" alt="" width="13"  style="margin-top: 10px; margin-bottom:5px;">
        </div>

    </div>
</div>
