<div class="container-fluid">
    <div class="row-fluid">

        <div class="centering text-left">

            <br>

            <form name="createEscrow">

                <div class="col-md-6">
                    <div class="ucsb">
                      Recipient
                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="The recipient account to send token to"
                      ></i>


                    </div>
                    <h5>
                        <div class="input-group">
                    <span class="input-group-addon btn btn-default"
                          ng-click="searchAliases (createEscrow.recipientRS,createEscrow,'recipientRS')" ng-controller="BaseCtrl"
                          popover-placement="left" popover-trigger="'mouseenter'" uib-popover="Enter an alias connected to an account to get the accout Id.">
                      <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </span>
                            <input type="text" class="form-control" placeholder="XIN-____-____-____-____"
                                   ng-model="createEscrow.recipientRS" validator="required" id="recipientRS">
                            <span class="input-group-addon btn btn-default" ng-click="openAddressBookModal()"
                                  popover-placement="left" popover-trigger="'mouseenter'"
                                  uib-popover="Open your bookmarks to insert an account id">
                      <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    </span>
                        </div>
                    </h5>

                </div>

                <div class="col-md-6">

                    <div class="ucsb">
                      Amount
                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="The amount you like to send to the recipient account."
                      ></i>

                    </div>

                    <h4 class="input-group">
                        <input type="number" class="form-control" id="amount"
                               placeholder="Type in the amount to send" validator="required" min="0"
                               ng-model="createEscrow.amount">

                        <span class="input-group-addon" id="addon-amount"> XIN  </span>
                    </h4>

                </div>

                <div class="col-md-12">
                    <hr/>
                </div>

                <div class="col-md-6">

                    <div class="ucsb" popover-placement="left" popover-trigger="'mouseenter'"
                         uib-popover="">
                         Days until Expiration

                         &nbsp;
                         <i
                           class="fa fa-question-circle-o"
                           aria-hidden="true"
                           style="color:#000000;"
                           popover-placement="left"
                           popover-trigger="'mouseenter'"
                           data-container="body"
                           uib-popover="Your escrow will expire without approval after this number of days. Min. 1, max. 90"
                         ></i>


                    </div>
                    <h5>
                        <div class="input-group">

                            <input type="number" class="form-control" ng-name="period" placeholder="1440"
                                   ng-init="createEscrow.escrowDeadline=1" ng-model="createEscrow.escrowDeadline" ng-value="{{escrowDeadline}}"
                                   ng-min="1" ng-max="90" min="1" max="90" required>

                            <span class="input-group-addon" id="addon-days">  <small>  {{ days }} Day(s) </small> </span>

                            <span class="input-group-btn">

                        <button type="button" class="btn btn-default" ng-click="decrement()"> <i
                                class="glyphicon glyphicon-minus"></i>  </button>
                        <button type="button" class="btn btn-default" ng-click="increment()"> <i
                                class="glyphicon glyphicon-plus"></i>  </button>

                      </span>

                        </div>
                    </h5>

                </div>

                <div class="col-md-3 ">
                    <div class="ucsb"> Decision Model
                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="Choose the decision model after escrow expiration."
                      ></i>


                    </div>
                    <h5>
                      <select class="form-control" ng-model="createEscrow.deadlineAction"
                              validator="required" id="deadlineAction"
                              ng-init="createEscrow.deadlineAction = deadlineActionOptions[0].value"
                          >
                          <option value="release">Release</option>
                          <option value="refund">Refund</option>
                          <option value="split">Split</option>
                      </select>
                    </h5>
                </div>


                <div class="col-md-3 ">
                    <div class="ucsb"> Number Signers
                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="The number of signers."
                      ></i>


                    </div>
                    <h5>

                      <input type="number" class="form-control" id="numSigners"
                             placeholder="Signers" validator="required" min="1" max="10"
                             ng-init="createEscrow.requiredSigners = 2"
                             ng-model="createEscrow.requiredSigners">


                    </h5>
                </div>

                <div class="col-md-12">
                    <hr/>
                </div>

                <div class="col-md-6">
                    <div class="ucsb"> Signers

                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="Signers, min 2, max. 10. Semicolon (;) separated."
                      ></i>

                    </div>
                    <h5>

                      <textarea class="form-control" rows="3" id="signers"
                        placeholder="Signers(semicolon ( ; ) separated)"  style="resize: none;"
                        ng-model="createEscrow.signers" validator="required" initial-validity="false">
                      </textarea>

                    </h5>
                </div>

                <div class="col-md-6">

                  <div class="ucsb">&nbsp;</div>
                  <h4>
                    <button ng-disabled="!createEscrow.$valid" class="btn btn-infinity pull-right"
                    ng-click="$nextStep()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                  </h4>
                </div>

            </form>

        </div>

    </div>
</div>
