<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-left">
          <br>
                <form name="createCampaignForm1">

                  <div class="col-md-6">
                    <div class="ucsb">  Campaign Name

                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="The campaign name is unique. Should be between 3-10 characters and longer than the campaign code. Once submitted, you will not be able to change this information again, ever. Make sure it is correct."
                      ></i>


                    </div>
                      <h5>

                        <input type="text" class="form-control" id="name" placeholder="Campaign name"
                               ng-model="createCampaignForm1.name" validator="required" minlength="3" maxlength="10"
                               required-error-message="Campaign name is required"
                               minlength="3" maxlength="10"
                               >
                      </h5>
                  </div>

                  <div class="col-md-6">
                    <div class="ucsb"> Campaign Code

                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="The campaign code is unique. Its composed of 3-6 upper case letters. Once submitted, you will not be able to change this information again, ever. Make sure it is correct."
                      ></i>


                    </div>
                      <h5>

                        <input type="text" class="form-control" id="code" placeholder="Campaign Code"
                               ng-model="createCampaignForm1.code" validator="required"
                               minlength="3" maxlength="6"
                               required-error-message="Campaign code is required"
                               >

                      </h5>
                  </div>

                  <div class="col-md-12">
                      <hr/>
                  </div>


                  <div class="col-md-12">
                      <div class="ucsb"> Campaign Description

                        &nbsp;
                        <i
                          class="fa fa-question-circle-o"
                          aria-hidden="true"
                          style="color:#000000;"
                          popover-placement="left"
                          popover-trigger="'mouseenter'"
                          data-container="body"
                          uib-popover="Campaign description with max. 1.000 characters. Once submitted, you will not be able to change this information again, ever. Make sure it is correct. "
                        ></i>

                      </div>
                      <h5>

                        <textarea class="form-control" rows="3" id="description"
                          placeholder="Campaign description" style="resize: none;"
                          ng-model="createCampaignForm1.desc" validator="required" initial-validity="true">
                        </textarea>

                      </h5>
                  </div>

                  <div class="col-md-12">
                      <h5>
                          <button ng-disabled="!createCampaignForm1.$valid" class="btn btn-infinity pull-right"
                                  ng-click="$nextStep()">
                              <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                      </h5>
                  </div>

                </form>

        </div>


    </div>
    <div ng-init="initStep1() "></div>
</div>
