<!-- <div class="col-lg-2">
    <div class="panel panel-default" style="background-color:#F4F4F4;">

        <div class="panel-heading "> <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; <strong> Messages </strong></div>

        <div class="panel-body text-center">

            <row><a class="btn btn-default btn-md text-left" style="text-align:left;width:100%;margin-bottom:5px;"
                    ui-sref="client.signedin.messages.mymessages"> <i class="fa fa-angle-right" aria-hidden="true"></i>
                    &nbsp; My Messages  </a></row>

            <row><a class="btn btn-default btn-md" style="text-align:left;width: 100%;margin-bottom:5px;"
                    ng-click="openSendMessageModal()" ng-controller="MessagesCtrl"> <i class="fa fa-angle-right" aria-hidden="true"></i>
                    &nbsp; Send Message </a></row>

        </div>
    </div>
</div> -->
