<style>
    .modal .modal-dialog {
        max-width: 768px;
    }
</style>

<div class="modal-header modal-default text-center">

    <div class="pull-left"><img src="images/logo_modal.png" style="margin-left:10px;margin-top:5px;height:50px;">
    </div>

    <h3 style="margin-right:70px;">
        Broadcast Transaction Bytes
    </h3>

</div>
<div class="modal-body">

  <div class="container-fluid">
      <div class="row-fluid">
          <div class="centering text-left">

            <div ng-controller="AlertDemoCtrl" ng-init="alertInit('broadcastTransaction')">
                <script type="text/ng-template" id="alert.html">
                    <div ng-transclude></div>
                </script>

                <div uib-alert ng-repeat="alert in alerts.broadcastTransaction" ng-class="'alert-' + (alert.type || 'warning')"
                     close="closeAlert($index,'broadcastTransaction')">{{alert.msg}}
                </div>
            </div>

            <br>

            <div class="col-md-12">
                <div class="ucsb"> Transaction Bytes

                  &nbsp;
                  <i
                    class="fa fa-question-circle-o"
                    aria-hidden="true"
                    style="color:#000000;"
                    popover-placement="left"
                    popover-trigger="'mouseenter'"
                    data-container="body"
                    uib-popover="The signed transaction bytes (hex) to broadcast to the network."
                  ></i>


                </div>
                <h5>

                  <textarea class="form-control" rows="5" id="inputToken"
                    placeholder="" style="resize: none;"
                    ng-model="broadcastTransactionForm.bytes" validator="required" initial-validity="true">
                  </textarea>

                </h5>
            </div>

            <div class="col-md-12">
                <hr/>
            </div>

            <div class="col-md-4">
              <div ng-show="showTransaction">

                  <div class="form-group">
                      <div class="ucsb"> Broadcasted </div>
                      <h5>

                        <i class="fa fa-check" aria-hidden="true"></i>

                      </h5>
                  </div>

              </div>
            </div>


            <div class="col-md-4">
              <div ng-show="showTransaction">

                  <div class="form-group">
                      <div class="ucsb"> Transaction ID </div>
                      <h5>
                        {{transaction }}

                      </h5>
                  </div>

              </div>
            </div>


            <div class="col-md-4">
              <div class="ucsb">  &nbsp; </div>
              <h5>
              <button type="submit" ng-disabled="false" class="btn btn-{{buttonColor}} pull-right"
                ng-click="broadcastTransaction(broadcastTransactionForm.bytes)">  Broadcast
             </button>
             </h5>
            </div>

      </div>
    </div>
  </div>
</div>

<div class="modal-footer modal-default">
  <button ng-disabled="" class="btn btn-default btn-md pull-left" ng-click="cancel()">  <i class="fa fa-times" aria-hidden="true"></i> </button>
</div>
