<div class="container-fluid">
    <div class="row-fluid">
        <div class="centering text-left">

                <form name="setAliasForm">
                  <br>
                  <div class="col-md-12">
                    <div class="ucsb" >
                      Alias Name

                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="Alias with max. 100 characters. Aliases are CASE-INSENSITIVE."
                      ></i>

                    </div>
                    <h5>
                        <input type="text" class="form-control" id="name" placeholder="Alias Name"
                               ng-model="setAliasForm.name" validator="required"
                               required-error-message="">
                    </h5>

                  </div>

                  <div class="col-md-12"> <hr/> </div>

                  <div class="col-md-3">

                    <div class="ucsb">
                      Prefix

                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="Alias prefix to connect your alias with."
                      ></i>


                    </div>
                    <h5>
                      <select class="form-control" ng-model="setAliasForm.prefix"
                        ng-options="prefix.name for prefix in prefixes">

                      </select>
                    </h5>

                  </div>

                  <div class="col-md-8">
                    <div class="ucsb">
                      URI

                      &nbsp;
                      <i
                        class="fa fa-question-circle-o"
                        aria-hidden="true"
                        style="color:#000000;"
                        popover-placement="left"
                        popover-trigger="'mouseenter'"
                        data-container="body"
                        uib-popover="The resource or target you like to connect your alias with. Can be your account, a website or even a BTC address. For URL ensure your uri starts with http://"
                      ></i>


                    </div>
                    <h5 class="input-group">
                      <input type="text" class="form-control" id="uri" placeholder="{{setAliasForm.prefix.placeholder}}"
                             ng-model="setAliasForm.uri" >
                             <span class="input-group-addon" id="addon-amount">@XIN</span>
                    </h5>
                  </div>

                  <div class="col-md-1">
                    <div class="ucsb" popover-placement="left" popover-trigger="'mouseenter'"uib-popover=""> &nbsp; </div>
                    <h5> <button ng-disabled="!setAliasForm.$valid" class="btn btn-infinity pull-right" ng-click="$nextStep()"> <i class="fa fa-chevron-right" aria-hidden="true"></i>  </button></h5>

                  </div>


                </form>

        </div>
    </div>
</div>

<div ng-init="initStep1()"></div>
